*{
    padding: 0;
    margin: 0;
}
button {
    position: absolute;
    top: 43%;
    left: 39%;
    z-index: 1;
    height: 100px;
    width: 300px;
    font-size: 50px;
    border:white solid;
    border-radius: 10px;
    background: rgb(141, 24, 3);
    color: white;
}
button:hover {
    background-color: green;
}
div {
    display: none;
    position: absolute;
    bottom: 20%;
    left: 30%;
    z-index: 1;
    font-size: 120px;
    color: rgb(138, 240, 22);
    text-align: center;
}